:root {
    --orange: #FF8002;
    --beige: #F8F7F3;
}

body {
    margin: 0;
    scroll-behavior: smooth;
}

header, footer {
    background-color: var(--orange);
    height: 120px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 24px;
    padding-left: 24px;
}

hr {
    border-top: 1px solid #eee;
}

.logo {
    width: 120px;
}

.burger-menu{
    width: 40px;
}

.content {
    display:flex;
    flex:1;
}

.restaurant {
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);
}

.restaurant-image {
    height: 160px;
    width: 100%;

    object-fit: cover;

}

.restaurant-description {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    height: 80px;
    padding-left: 24px;

}


.rating {
    color: var(--orange);
    font-size: 14px;
}

.restaurant-categories {

    display:flex;
    gap: 8px;
    align-items: center;
    padding-left: 24px;
    background-color: var(--beige);
    height: 48px;
}

.restaurant-categories span {
    color: #B9BCBB;
    font-weight: bold;;
}

.restaurant-categories span:hover {
    color: var(--orange);
    font-weight: bold;
}

.restaurant-category {
    margin:24px;
}

.heading {
    font-size: 20px;

    margin-block-start: 0;
    margin-block-end: 0;
}

.dish-list {
    display:flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: column;
    gap: 16px;

}

.dish {
    display:flex;
    justify-content: space-between;
    height: 120px;
    width: 100%;

    border: 2px solid var(--beige);
}

.dish-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    margin-left: 24px;
}

.price {
    color: var(--orange);
    font-weight: bold;
}

.mb-24 {
    margin-bottom: 24px;
}




.basket-container {
    width: 300px;
    /* horizontal vertical blur spread(size) color */
    box-shadow: 0px 0px 20px 1px #787878
}

.basket {
    display: flex;
    flex-direction: column;

    position:sticky;
    top: 5px;

}

.basket h1 {
    text-align: center;
}

.basket-heading-container {
    padding-top: 16px;

    height: 32px;

}

.basket-dish-title {
    font-weight: bold;
    font-size: 16px;
    color:rgb(74, 73, 73);
}

.basket-dish-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 8px;
    padding-left: 24px;

    color:#656968;
}

.entry-upselling {
    display: flex;
    align-items: center;
    gap: 24px;
}

.entry-price {
    display: flex;
    align-items: center;

    gap: 48px;

    
}

.basket-price-container  {
    color:#656968;
    display:flex;
    justify-content: space-between;

    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 4px

}

.bold {
    font-weight: bold;
    color:black;
}

.pd-12 {
    padding: 12px;
}

.basket-button {
    display:none; 
}

.d-none{
    display:none;
}

.basket-button-overlay {
    height: 48px;

    width: 100%;

    background-color: var(--orange);

    padding-left:24px;
    padding-right:24px;

    position:absolute;
    bottom: 0;
}

.basket-overlay-container{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
} 

@media (max-width: 700px) {
    .basket-button {
        display: block;
        height: 48px;

        background-color: var(--orange);

        margin-left:24px;
        margin-right:24px;
    }

    .basket-overlay-container{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
    } 

    .responsive-basket-container {
        display:none;
    }

    .basket-container {
        width: 0;
    }

    .restaurant {
        width: 100%;
    }
}


